/*#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu li.dropdown{

}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu{
	max-width:100%;
	left:20px;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu ul{
	padding:0;
	margin:0;
}

#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu li{
	padding:0;
	margin:0;
	text-align:left;	
}

#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu a{
	padding:0;
	margin:0;
	text-align:left;
	display: block;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu a.category-header{
	margin:0 0 0 0px;
}


#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul li{
	padding:0;
	margin:0;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul li:before{
	display: none;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul{
	margin:0;
	padding:0;
}*/
/*#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > li div {
 	padding:0;
 	margin:0;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul{
	margin:0;
	padding:0;
}*/

/*
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > li
 .child-category-container > a{
 	background:#ff0000;
 	padding:0 0 0 20px;
 	text-align:left;
 }
 #megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > li
 .child-category-container > ul{
 	background:#00ff00;
 }
 #megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > li
 .child-category-container > ul li{
 	padding: 0 0 0 27px;
    margin: 0;
    text-align: left;
 }
 #megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > li
 .child-category-container > ul li a{
	
 }*/










#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu{
	max-width:100%;
	left:20px;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu ul{
	padding:0;
	margin:0;
}

#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu li{
	margin:0 0 0 74px;
}

#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth ul.dropdown-menu a{
	padding:1px 0;
	margin:0;
	text-align:left;
	display: block;
	font-size:14px;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu a.category-header{
	margin:0;
	padding:0 0 4px 0;
	font-size:16px;
}


#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul li{
	padding:0;
	margin:0;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul li:before{
	display: none;
}
#megaMenu_v5-wi700003 #CC-megaMenu .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu 
.child-category-container ul{
	margin:0;
	padding:0;
}